<div *ngIf="userData">
  <div
    class="pt-6 max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
    <div class="flex items-center space-x-5">
      <div class="flex-shrink-0">
        <div class="relative">
          <img class="h-16 w-16 rounded-full" [src]="userData.imgSrc" alt="">
          <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
        </div>
      </div>
      <div>
        <h1 class="text-2xl font-bold text-gray-900">Welcome back, {{ userData.name }}</h1>
        <p class="text-sm font-medium text-gray-500">{{ userData.occupation }}</p>
      </div>
    </div>

  </div>


  <div class="pt-20 text-center" *ngIf="myCourses.length > 0">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">No Courses</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by joining to a new course.</p>
    <div class="mt-6">
      <button type="button" (click)="openCoursesPage()"
        class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        <!-- Heroicon name: solid/plus -->
        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
          aria-hidden="true">
          <path fill-rule="evenodd"
            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
            clip-rule="evenodd" />
        </svg>
        Join a course
      </button>
    </div>
  </div>


  <ng-container *ngIf="myCourses.length > 0">
    <p-table [value]="myCourses" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Course</th>
          <th>Start Date</th>
          <th>Coach</th>
          <th>Purchase Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-course>
        <tr>
          <td>{{course.course.name}}</td>
          <td>{{course.startDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{course.course.coach.firstname + ' ' + course.course.coach.lastname}}</td>
          <td>{{course.purchaseDate | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>


</div>
